body {
  background: #ebe9e9;
}

form {
  max-width: 500px;
  margin: 0 auto;
}

.hide {
  visibility: hidden;
}

.show {
  visibility: visible;
}

.form {
  background: #0e101c;
  max-width: 400px;
  margin: 0 auto;
}

span.link {
  color: #2196f3;
  text-decoration: underline;
  text-transform: uppercase;
}
span.link:hover {
  cursor: pointer;
  color: #bf1650;
}

.warning {
  color: #bf1650;
}

.warning::before {
  display: inline;
  content: '⚠ ';
}

input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  border: 1px solid white;
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 14px;
}

label {
  line-height: 2;
  text-align: left;
  display: block;
  margin-bottom: 13px;
  margin-top: 20px;
  color: white;
  font-size: 14px;
  font-weight: 200;
}

button[type='submit'],
input[type='submit'] {
  background: #2196f3;
  color: white;
  text-transform: uppercase;
  border: none;
  margin-top: 40px;
  padding: 20px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 10px;
  cursor: pointer;
}

button[type='submit']:active,
input[type='button']:active,
input[type='submit']:active {
  transition: 0.3s all;
  transform: translateY(3px);
  border: 1px solid transparent;
  opacity: 0.8;
}
